@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Outfit", sans-serif;
  text-align: left;
}

:root {
  --White: hsl(0, 0%, 100%);

  --Stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(24, 5%, 18%);

  --Brown-800: hsl(14, 45%, 36%);

  --Rose-800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);

  --font-YoungTitle: 400;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

body {
  background-color: var(--Stone-100);
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
}

.container {
  max-width: 375px;
  margin: 50px auto;
  background-color: var(--White);
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

.container img {
  width: 100%;
  border-radius: 10px;
}

.title {
  font-family: "Young Serif";
  margin: 15px auto;
  font-weight: var(--font-YoungTitle);
  font-size: 22px;
  color: var(--Stone-900);
}

.container p {
  font-weight: var(--font-weight-regular);
  font-size: 9px;
  margin: auto auto 15px;
  color: var(--Stone-600);
}

.container-pink {
  padding: 20px;
  background-color: var(--Rose-50);
  border-radius: 15px;
}
