@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  text-align: left;
}

:root {
  --White: hsl(0, 0%, 100%);

  --Stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(24, 5%, 18%);

  --Brown-800: hsl(14, 45%, 36%);

  --Rose-800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);

  --font-YoungTitle: 400;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

body {
  background-color: var(--Stone-100);
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
  color: var(--Stone-600);
  font-weight: var(--font-weight-regular);
  font-size: 9px;
}

.container {
  max-width: 375px;
  margin: 50px auto;
  background-color: var(--White);
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

.container img {
  width: 100%;
  border-radius: 10px;
}

.title {
  font-family: "Young Serif";
  margin: 15px auto;
  font-weight: var(--font-YoungTitle);
  font-size: 22px;
  color: var(--Stone-900);
}

.container p {
  margin: auto auto 15px;
}

.container-pink {
  padding: 20px;
  background-color: var(--Rose-50);
  border-radius: 10px;
}

.container-pink ul {
  margin: auto 10px;
}

h3 {
  font-weight: var(--font-weight-semibold);
  font-size: 15px;
  color: var(--Rose-800);
  padding-bottom: 10px;
}

ul li {
  text-indent: 10px;
  padding: 3px;
}

h2 {
  font-weight: var(--font-YoungTitle);
  color: var(--Brown-800);
  margin: 15px auto;
  font-family: "Young Serif";
  font-size: 18px;
}

ul {
  margin: auto 15px;
}

.divisor {
  margin: 20px auto;
  height: 1px;
  background-color: var(--Stone-150);
  border: 0px;
}

ol li::marker {
  color: var(--Brown-800);
  font-weight: var(--font-weight-bold);
}

ol li {
  text-indent: 10px;
}

ol {
  padding: 0 15px;
}

table {
  width: 100%;
  border-top: none;
  border-bottom: none;
  border-collapse: collapse;
}

.col1 {
  font-weight: var(--font-weight-regular);
}

.col2 {
  font-weight: var(--font-weight-semibold);
  color: var(--Brown-800);
}

th,
td {
  border-bottom: 1px solid var(--Stone-150);
  padding: 8px;
}

th,
td {
  border-left: none;
  border-right: none;
}

a {
  text-decoration: none;
  color: var(--Brown-800);
}

.attribution {
  padding-bottom: 20px;
}

@media (max-width: 374px) {
  body {
    background-color: var(--White);
    padding: 0;
    margin: 0;
  }

  .container {
    padding: 0 20px;
    margin: 0;
    border-radius: 0;
    position: relative;
  }

  .container img {
    border-radius: 0;
    padding: 0;
    width: 100%;
    margin: auto 20px;
  }
}
